gym
gymnasium
imgui
matplotlib
networkx
numpy
osmnx
Pillow
pygame
scipy
Shapely
torch
ezdxf
geopandas
numba
scikit-learn
pandas
tqdm
pympler
opencv-python
pyautogui
moderngl
PyQt5
moderngl_window
swifter
geovoronoi
pythonnet
PyOpenGL
